@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

:root{
    --margem: #fff;
    --opções-detalhes-: #000;
    --fundo-texto-1: #D6EEEE;
    --fundo-texto-2: #fff;
    --fundo-texto-3: #4a5b59;
    --textos: #000;
    --fonte: 
}

*{
    font-weight: 400;
}

body{
    background: rgb(138,224,242);
    background: linear-gradient(90deg, rgba(138,224,242,1) 0%, rgba(94,214,149,1) 100%);
    color: var(--textos2);
}

.cabecalho{
    background-color: var(--margem);
    font-size: 30px;
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: "Squada One", sans-serif;
    align-items: center;
}

.imagem-cabecalho{
    width: 10%;
}

.comeback-menu{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    display: flex;
}
.img-comeback-menu{
    display: flex;
    justify-content: center;
    width: 10%;
}

.textos-linha-1{
    display: flex;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    justify-content: baseline;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
    color: var(--fundo-texto-3);
}

.textos-linha-2{
    display:flex;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    justify-content: end;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
}

.textos-linha-3{
    display: flex;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    justify-content: baseline;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
    color: var(--fundo-texto-3);
}

.textos-linha-4{
    display:flex;
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    justify-content: end;
    flex-wrap: wrap;
    font-family: "Kanit", sans-serif;
}

.tp-1{
    background-color: var(--fundo-texto-1);
    border: 2px solid var(--fundo-texto-1);
    border-radius: 15px;
    padding: 10px;
}

.tp-2{
    background-color: var(--fundo-texto-2);
    border: 2px solid var(--fundo-texto-2);
    border-radius: 15px;
    padding: 10px;
}

.tp-3{
    background-color: var(--fundo-texto-1);
    border: 2px solid var(--fundo-texto-1);
    border-radius: 15px;
    padding: 10px;
}

.tp-4{
    background-color: var(--fundo-texto-2);
    border: 2px solid var(--fundo-texto-2);
    border-radius: 15px;
    padding: 10px;
}

.tp-5{
    background-color: var(--fundo-texto-2);
    border: 2px solid var(--fundo-texto-2);
    border-radius: 15px;
    padding: 10px;
}
    
@media (min-width:1024px){
    .cabecalho{
        font-size: 50px;
    }   
}