

:root{
    --margem: #fff;
    --opções-detalhes-: #000;
    --fundo-cor: #EBDEDE;
    --fundo-texto-1: #000;
    --fundo-texto-2: #A18585;
    --fundo-texto-3: #DEBEBE;
    --textos: #000;
}

*{
    font-weight: 400;
}

body{
    background-color: var(--fundo-cor);
    color: var(--textos);
}

.cabecalho{
    background-color: var(--margem);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}

.imagem-cabecalho{
    width: 10%;
}

.textos-principais{
    display: flex;
    margin: 0 auto;
}

.tp-1{
    margin: 0 auto;
}

#secao-1{
    background-color: var(--fundo-texto-2);
}

#secao-2{
    background-color: var(--fundo-texto-3);
}

#secao-3{
    background-color: var(--fundo-texto-2);
}

#secao-4{
    background-color: var(--fundo-texto-3);
}