@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --margem: #466D45;
    --opções-detalhes-: #000;
    --fundo-cor: #E1D1D1;
    --fundo-texto-1: #000;
    --fundo-texto-2: #A18585;
    --fundo-texto-3: #DEBEBE;
    --textos: #000;
    --textos2: #fff;
}

*{
    font-weight: 400;
}

body{
    background-color: var(--fundo-cor);
    color: var(--textos2);
}

.cabecalho{
    background-color: var(--margem);
    font-size: 45px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    font-family: "Kanit", sans-serif;
    align-items: center;
}

.imagem-cabecalho{
    width: 10%;
}

.hamburguer-menu{
    width: 5%;
}

.textos-principais{
    fill: var(--fundo-cor);
    display: flex;
    padding: 10px;
    margin: 0 auto;
    font-size: 30px;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;


}

.tp-1{
    margin: 0 auto;
}

#secao-1{
    background-color: var(--fundo-texto-2);

}

#secao-2{
    background-color: var(--fundo-texto-3);
}

#secao-3{
    background-color: var(--fundo-texto-2);
}

#secao-4{
    background-color: var(--fundo-texto-3);
}